.menu_bar {
    background-color: #3498db;
    color: #fff;
    padding-left: 20.1px;
    border: none;
}

.menu_bar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.menu_bar a:hover {
    color: #3498db;
    background-color: #fff;
}

#body {
    margin: 20px;
    padding: 20px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#prod_name {
    font-size: 52px;
    text-align: center;
    padding-top: 200px;
    color: #e74c3c;
}

#target_section_id {
    background-color: #2ecc71;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#signup_section, #login_section {
    background-color: #f39c12;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.piano-key {
    display: inline-block;
    width: 50px;
    height: 150px;
    margin: 5px;
    cursor: pointer;
}

.piano-key:nth-child(odd) {
    background-color: #000;
    border: 1px solid #444;
}

.piano-key:nth-child(even) {
    background-color: #fff;
    border: 1px solid #ccc;
}
